* {
    font-family: sans-serif;
    
}

#customer-directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid silver;
}

img {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.customers {
    text-align: center;
    font-size: small;
    padding: 10px;
    margin: 5px;
    border: 1px solid pink;
}

.name {
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    text-transform: capitalize;
}

.email {
    color: grey;
    padding-bottom: 7px;
}

.address {
    padding-bottom: 7px;
}

.dob {
    font-size: small;
}